

.bg {
    /* The image used */
    background-image: url("../pic/head.jpg");

    /* Full height */
    height: 22%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}